<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.obisteeves.meetuworld" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo240px"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyABHd4gr-KK-uPXUsNTFFpfEIfF3AQdZcg" />

        <activity
            android:name=".PageAndroid.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PageAndroid.HomePage"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_home_page"
            android:parentActivityName=".PageAndroid.ConnectionPage" >
        </activity>
        <activity
            android:name=".PageAndroid.inscriptionPage"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_inscription_page"
            android:parentActivityName=".PageAndroid.MainActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".PageAndroid.ConnectionPage"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_connection_page"
            android:parentActivityName=".PageAndroid.MainActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name=".Tabs.TabProfil"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_tab_profil" >
        </activity>
        <activity
            android:name=".Tabs.TabHome"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_tab_home" >
        </activity>
        <activity
            android:name=".Tabs.TabNewTravel"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_tab_new_travel" >
        </activity>
        <activity
            android:name=".PageAndroid.modifierProfil"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_modifier_profil"
            android:parentActivityName=".PageAndroid.HomePage"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PageAndroid.addTravel"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_add_travel"
            android:parentActivityName=".PageAndroid.HomePage"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PageAndroid.infoVoyage"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_info_voyage"
            android:parentActivityName=".PageAndroid.HomePage"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PageAndroid.ItinerairePage"
            android:label="@string/title_activity_itineraire_page"
            android:parentActivityName=".PageAndroid.infoVoyage"></activity>
        <activity
            android:name=".Tabs.TabGuide"
            android:label="@string/title_activity_tab_guide">
        </activity>
    </application>

</manifest>
