<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.obisteeves.meetuworld" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PageAndroid.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PageAndroid.HomePage"
            android:label="@string/title_activity_home_page"
            android:parentActivityName=".PageAndroid.ConnectionPage" >
        </activity>
        <activity
            android:name=".PageAndroid.inscriptionPage"
            android:label="@string/title_activity_inscription_page"
            android:parentActivityName=".PageAndroid.MainActivity" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".PageAndroid.ConnectionPage"
            android:label="@string/title_activity_connection_page"
            android:parentActivityName=".PageAndroid.MainActivity" >
        </activity>
        <activity
            android:name=".PageAndroid.HomePAge"
            android:label="@string/title_activity_home_page" >
        </activity>
        <activity
            android:name=".Tabs.TabProfil"
            android:label="@string/title_activity_tab_profil" >
        </activity>
        <activity
            android:name=".Tabs.TabHome"
            android:label="@string/title_activity_tab_home" >
        </activity>
        <activity
            android:name=".Tabs.TabNewTravel"
            android:label="@string/title_activity_tab_new_travel" >
        </activity>
    </application>

</manifest>
